body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
    background: #ebf8ff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 15px;
    margin-left: 20px !important;
    width: 1540px;
    /*background-color: black;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

/*textarea {
    max-width: 280px;
}*/
.col {
    float: left;
    position: relative;
    margin-right:5px
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.input-group {
    z-index: 0;
}

.btn2 {
    margin-top: 8px;
}

#titles {
    margin-top: 160px;
    margin-left: 0;
}

.col-dropdown {
    width: 240px;
}

.col-type {
    width: 214px;
}

.date {
    width: 100px;
}

.col-date1 {
    width: 90px;
    margin-right: 37px;
}

.amount {
    text-align: center;
    width: 139px;
    border-radius: 4px !important;
}

.intComment {
    margin-top: 7px;
}

.col-header {
    font-weight: bold;
    font-size: large;
}

.invT {
    margin-right: 85px;
}

.usedT {
    margin-right: 50px
}

#label:hover {
    cursor: pointer;
}

.extCom {
    margin-right: 80px
}

.supProjectT {
    margin-right: 40px;
}

.col-full {
    width: 1270px;
}

.col-full-insert {
    width: 1350px;
}

.amount-head {
    width:50px;
}

.col-numberof {
    width: 55px;
}

.col-dropdown1 {
    width: 230px;
}

btn-primary{
    margin-left: 1000px;
}

div {
    display:block;
}

.externCom {
    width: 300px;
}

.col-text{
    width: 205px;
}

.amount-distance {
    width: 120px;
    margin-right: 20px; 
}

.distance {
    width: 130px;
    margin-left: 20px;
}

.closed {
    color: #F00;
}

.qty { text-align: center;}
 

.modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}

/*.sidebar {
    position: fixed;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 55px;
    margin-top: 10px;
    height: 690px;
    width: 280px;
    background-color: #005066;
    background-color: #302b2b;
    background-color: #313638;
    color: white;
    z-index: 1000;
    border: solid 2px orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 15px;
}

.sidebarDistance {
    position: fixed;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 55px;
    margin-top: 10px;
    height: 270px;
    width: 280px;
    background-color: #005066;
    background-color: #302b2b;
    background-color: #313638;
    color: white;
    z-index: 1000;
    border: solid 2px orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 15px;
}

.sidebarExpense {
    position: fixed;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 55px;
    margin-top: 10px;
    height: 570px;
    width: 280px;
    background-color: #005066;
    background-color: #302b2b;
    background-color: #313638;
    color: white;
    z-index: 1000;
    border: solid 2px orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 15px;
}*/

.hSiteLeft
{
    position: fixed;
	width: 55px;
	/*background-color: #005066;*/
    background-color: #222;
	height: 100%;
	top: 0;
    padding-right: 20px;
    z-index: 1000;
    padding-left: 7px;
    padding-top: 65px;
}

.hSiteLeft img {
    padding-bottom: 10px;
}

#QlikView {
    padding-bottom: 20px;
}


/*#hActionBar 
{
	position: fixed;
	width: 40px;
	height: 140px;
	margin: 120px 0px 0px 5px;
}*/


.navbar-left img {
    height: 46px;
    margin-top: 7px;
    padding-right: 50px;
}

.navbar-left {
    min-height: 60px
}

#navbarr {
    padding-left: 0px;
    margin-left: 20px
}

.btn-logos img {
    width: 105px;
    margin-top: 7px;
    margin-right: 4px;
}

/*.hej {
    border: solid 1px #9f9f9f;
    border-radius: 7px;
}*/

.timerow {
    margin-bottom: 13px;
}

.glyphicon:before {
 visibility: visible;
}
.glyphicon.glyphicons-unchecked:checked:before {
   content: "\e006";
}
input[type=checkbox].glyphicon{
    visibility: hidden;    
}

/*.Active {
    border: solid 1px orange;
}

.Inactive {
    border: solid 1px red;
}*/

/*********CALANDER STUFF************/

#month {
    width: 300px;
    position: fixed;
    right: 60px;
    top: 180px;
}

#week {
    width: 300px;
    position: fixed;
    right: 60px;
    top: 550px;
}

.fc-center h2:hover {
    cursor: pointer;
    font-weight: 600;
}

.fc-center h2 {
   font-size: 18px !important;
}

.fc-toolbar button {
    background-color: red
}

.fc-time:after {
    content: "h";
}

.fc-event { /*Events have straight corners*/
    border-radius: 0px !important;
}

.fc-month-view .fc-event-container{ /*Hides the events on the month calander*/
    display: none;
}


.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { /*Making so that the highlited day number is black*/
    color: black;
}

.fc-week-number a { /*Week-numbers color is black*/
    color: #000000 !important;
}

/**********LATEST REPORTS**************/

#latest-container {
    display: flex;
    margin-left: 255px;
    margin-top: 30px;
    margin-right: 255px;
}

.latestReports {
    width: 155px;
    height: 115px;
    border: 3px solid black;
    border-radius: 5px;
    text-align:center !important;
    background-color: #25849a;
    color: white;
}

.latest {
    margin-right: 40px;
}

#latesReportsRow {
    background-color: #ebf8ff;
    position: fixed;
    z-index: 1000;
}

/************ALERTS***************/

.alert-info {
    width: 300px;
    position: fixed;
    right: 60px;
    top: 80px;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #a6ddf9;
    color: black;
}

.alert-danger {
    width: 300px;
    position: fixed;
    right: 60px;
    top: 104px;
    text-align: center;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px;
    background-color: #ffbfbf;
    color: black;
}

.alert-danger:hover {
    cursor: pointer;
    background-color: #ffa5a5;
}

.alert-success {
    width: 300px;
    position: fixed;
    right: 60px;
    top: 104px;
    text-align: center;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px;
    background-color: #9ce49c;
    color: black;
}

/***********TOTAL HOURS TABLE************/

.CurrentFilterTitle {
    background-color: #25849a;
    color: #ffffff;
    border: 1px solid #3d3d3d;
    text-align: center;
}

.CurrentFilter
{
	padding: 0px;
	border: 1px solid #3d3d3d;
	font-family: arial, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	position: fixed;
	width: 210px;
    right: 100px;
    top: 770px;
    background-color: white;
}

#tableTitle {
    font-size: 13pt;
}

.tRow {
    padding-left: 35px;
    padding-top: 5px;
    width: 127px;
}

.tRow2 {
    padding-top: 5px;
}

.pTable {
    width: 210px;
}


/*********DELAY AND COPY BUTTON*************/

.copy img {
    width: 24px;
    height: auto;
}

.checkboxes img {
    width: 24px;
    height: auto;
}

.checkboxes img {
    cursor: pointer;
}

.delayChk {
    display: none;
}

/****************NAVBAR*****************/

.active img {
    border: 2px solid white;
    border-radius: 7px;
}